body {
	background-color: orange;
	color: navy;;
}

h1 {
	font-family: fantasy;
	font-style: oblique 50deg;
	font-size: xx-large;
}

h2 {
	font-family: cursive;
	color: white;
}

h3 {
	font-family:Snell Roundhand, cursive;
	color: #E04601;
}